.app {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
}

.appheader {
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 1px 4px 4px #00000033;
}
.shoppingCartOutlined {
  margin-right: 8px;
  font-size: 30px;
  cursor: pointer;
}

.appcontent {
  display: flex;
  flex: 1;
  overflow-y: auto;
  margin-top: 2px;
}

.appfooter {
  height: 60px;
  background-color: black;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.itemCardImage {
  height: 150px !important;
  object-fit: scale-down;
}
.itemCard,
.itemCardBadge {
  margin: 8px;
}
